body {
  background-color: #edf1fa !important;
}

.py-10 {
  padding: 2rem 0;
}
.text-white {
  color: #fff;
}
.border-bottom {
  border-bottom: 2px solid #f8f9fa !important;
  border-radius: 0px !important;
}
.px-10px {
  padding: 10px 0;
}
.mx-auto {
  margin: 0 auto;
}
.w-full {
  width: 100% !important;
}
.w-35 {
  width: 40% !important;
}
.my-10 {
  margin: 43px 0;
}
